<div class="width-80 header-panel">
  <h1>
    Hello in MultiChain App!
  </h1>
</div>

<div class="ui message width-80">
  <div class="header">
    In this application you can:
  </div>
  <ul class="list">
    <li>Create new request for your manager.</li>
    <li>Accept/decline request as manager (create decision).</li>
    <li>Show request list.</li>
    <li>Show decision list.</li>
    <li>Show user list.</li>
    <li>Show information about blockchain and latest transactions.</li>
    <li>Show information about profile and requests created from your profile.</li>
  </ul>
</div>
