<div class="ui card main-form" xmlns="http://www.w3.org/1999/html">

  <div class="content">
    <div class="header">Create new request</div>
  </div>
  <div class="content">
    <div class="ui large form equal width stackable grid">

      <!-- FIRST ROW -->
      <div class="two column row">

        <div class="column field">
          <label for="manager">Manager</label>
          <sui-select class="selection"
                      [(ngModel)]="petition.managerId"
                      [options]="managers"
                      labelField="username"
                      valueField="blockchainAddress"
                      id="manager"
                      placeholder="Manager"
                      [isSearchable]="true"
                      #managerSelect>
            <sui-select-option *ngFor="let option of managerSelect.filteredOptions" [value]="option"></sui-select-option>
          </sui-select>
        </div>

        <div class="column field">
          <label for="content">Content</label>
          <textarea
                 id="content"
                 name="content"
                 placeholder="Content"
                 [(ngModel)]="petition.requestContent">
          </textarea>
        </div>

      </div>

    </div>
  </div>
  <div class="extra content">
    <button class="ui positive right floated button" (click)="save()">Save</button>
  </div>
</div>
